@media (height:638px){.respo{line-height:1.4}.about .gv-margin-bottom-sm{margin-bottom:0}}@media (max-width:1366px);@media (min-width:1440px){.respo{line-height:1.5}.respo li{margin-bottom:.5rem}}@media (min-width:1600px);@media (min-width:1920px);@media (max-width:1366px);@media (max-width:1355px){body{overflow:visible}li{margin-bottom:1rem}.layer{height:auto;padding:3rem 0}.layer-wrap{-webkit-transform:translateY(0)!important;transform:translateY(0)!important}.indicator-wrap{display:none;transform:translateY(0)}.indicator-wrap2{display:none}.container{padding:0 3rem}.splash{display:none}.achv-inner,.skills-slider-inner{display:block}.hire .container,.hire .container.rotate{height:auto}.hire .container.rotate .hire-card,.hire-card{height:auto;bottom:0}.hire-card{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-backface-visibility:visible;-moz-backface-visibility:visible;backface-visibility:visible}.hire-card ul{flex-wrap:wrap}.hire-btn{display:none}.intro .fa-heart{font-size:1.7rem}}@media (max-width:940px){.achv-item{width:50%}.achv-item-inner{height:250px}}@media (max-width:800px){.intro-list>li{flex-basis:50%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}}@media (max-width:767px){.skills-item{width:33.33333%}}@media (max-width:600px){.skills-item{width:50%}.achv-item{width:100%}.achv-item-inner{height:300px}}@media (max-width:479px){.intro-list{display:block;text-align:center}.achv-item-inner{height:250px}}@media (max-width:400px){.skills-item{width:100%}}
@media only screen and (max-width: 500px) {
    .header-me-hover  {
      top: .5%;
      width: 16%;
        }
      .header-me-img {
        width: 50px;
        height: 50px;
      }
}
@media only screen and (max-width: 1026px) {
    .respo {
        display: none;
    }
}
